# dependencies
node_modules/
.pnp/
.pnp.js

# misc
.DS_Store
*.pem
Thumbs.db

# local env files (when we add them later)
.env*.local
.env

# build outputs (for when we add Next.js)
.next/
out/
build/
dist/

# IDE
.vscode/
.idea/
*.swp
